.something {
   color: black;
}
.oval {
   border-radius: 30px;
   background-color: cornflowerblue;
   border: 2px solid red;
}
.rectangular {
   border-radius: 0px;
   border: 2px solid greenyellow;
}
